header img{
	
	height : 80px;
	width: 150px;
	float: left;
	margin-left: 150px;

}
#div2{
	
		float:right;
		margin :0;
	padding : 0;
	
} 
#div2,ul{
	list-style-type : none;
	margin :0;
	padding : 0;
	overflow : hidden;
	
}

li{
	
	float : left;
	
}
li a{
	display : block;
	color : white;
	text-decorative: none;
	padding : 10px 15px;
}

li a: hover{
	background-color : teal;
}
section
{
	padding-top:100px;
	padding-bottom: 100px;
	margin: 0 auto;
	
}

body{
	height:100%;
	width:100%;
	background:-webkit-linear-gradient(top,#99ccff, #b3d9ff,#e6f2ff,#e6f2ff);
	
	    
}


header
{
	width : 100%;
	height:80px;
	color : white;
	font-size : 16px;
	font-family : cursive;
	background: #333333;
	/* -webkit-border-radius:5px; */
	float: left;
	position: fixed;
	top:0;

}
footer
{
	width : 70%;
	color : black;
	font-size : 16px;
	font-family : mono;
	text-align : left;
	-webkit-border-radius:5px;
	margin-top:350px;
	margin-left:150px;
	font-family: cursive;
}

#index_bottom{
 float: bottom;

 }
 
#divtb{
	float: left;
	padding-left:100px;
}

#tb3,img{
	height:30px;
	width:30px;
}


