

#div3{
	margin: 0 auto;
	float:bottom;
}
 #index_left{
 	float:left;
 	width:400px;
 	height: 350px;
 	margin-left:60px; 
 	-webkit-border-radius:60px;
 	background:-webkit-linear-gradient(top,#d9d9d9, #f2f2f2, #fffffe);
 	-webkit-box-shadow:5px 5px 5px  #4da6ff;
 	
 	
 }
 
 #instruct{

 	padding: 20px;
 }
 
 #index_center{
 height:350px;
  width:630px;
  background-image:url("images/examhome1.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-left:30px; 
 	 -webkit-animation: myanim2 15s infinite;
 	 float: left;
 	 -webkit-border-radius:60px;
 	 -webkit-box-shadow:5px 5px 5px  #4da6ff;

 }
 @-webkit-keyframes myanim2{
0%{background-image:url("images/examhome1.png")}
50%{background-image:url("images/examhome2.png")}
100%{background-image:url("images/examhome3.png")}
}
 
 #index_right{
 text-align:center;
 	float:left;
 	width:200px;
 	margin-left:30px; 
 	padding: 20px	;
 	-webkit-border-radius:60px;
 	background:-webkit-linear-gradient(top,#d9d9d9, #f2f2f2, #ffffff);
 	-webkit-box-shadow:5px 5px 5px  #4da6ff;
 	
 }
 	
 #index_right img{
 	width:150px;
 	height: 60px;
 }
 
 